li {
     font-size: 11px;
     font-family: Verdana, Arial, Helvetica, sans-serif;
}

td {
     font-size: 11px;
     font-family: Verdana, Arial, Helvetica, sans-serif;
}

th {
     font-size: 11px;
     font-family: Verdana, Arial, Helvetica, sans-serif;
}

ul {
     font-size: 11px;
     font-family: Verdana, Arial, Helvetica, sans-serif;
}

nav ul {
     margin: 0;
     padding: 0;
}

nav ul li {
     display: inline;
     margin: 15px;
}

a {
     COLOR: #990000;
     TEXT-DECORATION: none;
}